.box{
    -fx-background-color: #003300;
}

.labelLeft{
    -fx-text-fill: #ffffff;
}

.but{
    -fx-border-color: #04AA6D;
    -fx-background-color: #f2f2f2;
}

.but:hover{
    -fx-background-color:#04AA6D;
}

.changeChoice .arrow{
    -fx-background-color: #000000;
}

.choice-box .list-view{
    -fx-pref-width : "350";
}