.label{
    -fx-text-fill:#004d00;
}

.but{
    -fx-text-fill: #000000;
    -fx-border-color:#009900;
}

.but:hover{
    -fx-text-fill:#f2f2f2;
    -fx-background-color:#009900;

}

.pane{
    -fx-border-color:#000000;
}

.formLabel{
    -fx-text-fill:#ffffff;
}

.formPane{
    -fx-background-color:#003300;
}